@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Frank+Ruhl+Libre:wght@400;500;600;700;900&display=swap');


:root {
    --bg-pink: #b63283;    

    --fs-s: 1rem;    
    --fs-m: 2rem;
    --fs-ml: 3rem;
    --fs-l: 4rem;
    --fs-xl: 10rem;

    
    --fw-p: 500;
    --fw-title: 900;

    --ff-fira: 'Fira Sans', sans-serif;
    --ff-frank: 'Frank Ruhl Libre', serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    font-family: var(--ff-fira);
    user-select: none;
    
    
}


body{   
    justify-content: center;
    align-items: center;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.flex{
    display: flex;
}

.wrapper{
    flex-direction: column;   
    align-items: center;
    width: 1000px;
    height: 950px;
    /*background: rgb(41, 70, 216);*/
   
    
}
.chick{
    opacity: 10%;
    position: absolute;
    font-size: 10rem;
    animation: chicken .6s forwards infinite linear;
}
@keyframes chicken {
    from{
        bottom: 0rem;
        right: 0%;
    }
    to{
        bottom: 0rem;
        right: 100%;
    }
}

.theme{
    text-shadow:0px 10px 5px  rgba(0, 0, 0, 0.164); 
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: var(--fs-l);
    margin: 1rem 0 .3rem 0 ;
    
}
.countdown{
    font-size: var(--fs-m);
}


/* ------------------------ WIN Box START --------------------------*/

.win__box{
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.616);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed; 
    top: 0;
    left: 0;
    display: none; 
}

.end__box{
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.616);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed; 
    top: 0;
    left: 0;
    display: none;
}
.win__word{
    font-size: var(--fs-xl);
    color: white;

}

.end__word{
    font-size: var(--fs-xl);
    color: rgb(255, 255, 255);

}
.win__text{
    font-size: var(--fs-l);
    color: white;

}
.win__info{
    color: white;
    margin:1rem 0 2rem 0;
}
.show {
    display: flex;
}
.hide{
    display: none;
}


/* ------------------------ WIN Box END --------------------------*/


/* ------------------------ Figure Box START --------------------------*/

.figure__box{
    justify-content: center;
    margin: .3rem;
    width: 40rem;
    height: 30rem;
   /*background-color: violet;*/
}
.figure-svg{
    
    width: 20rem;
}

/* ------------------------ Figure Box END --------------------------*/


/* ------------------------ Guesses Box START --------------------------*/

.guesses__box{
    justify-content: center;
    font-size: var(--fs-m);
    color: white;
}

/* ------------------------ Guesses Box START --------------------------*/



/* --------------------- INPUT LETTER true START -----------------------*/



.letter__box__true{   
    justify-content: center;
    gap: .4rem;      
    margin: .5rem 0 .5rem 0;    
}


.input__letter__true{
        
    width: 4.5rem;
    height: 4.5rem;
    font-size: var(--fs-ml);    
    justify-content: center;
    align-items: center;  
    color: white;
    background-color: rgba(255, 255, 255, 0.151);        
}
.input__letter__true:hover{
    background-color: rgba(255, 255, 255, 0.171); 
}

/* ------------------------ INPUT LETTER true END --------------------------*/


/* ------------------------ INPUT LETTER false END --------------------------*/
.letter__box__false{
    justify-content: center;
    gap: .4rem;   
    margin: 0 0 .5rem 0; 
    width: 100%; 
    height: 3rem
}

.input__letter__false{
    
    /*text-decoration: line-through;
    text-decoration-color: rgb(255, 255, 255);    
    */
    font-size: var(--fs-m);
    color: rgba(255, 255, 255, 0.263);
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;   
    background-color: rgba(255, 255, 255, 0.055);  
       
}

/* ------------------------ INPUT LETTER false END --------------------------*/




.info__box{    
    margin: 2rem;
    font-size: var(--fs-s);
    color: white;
}

.restart__btn{
    user-select: none;
    font-size: var(--fs-m);
    padding: 1rem 3rem 1rem 3rem;
    border: none;    
    box-shadow: 5px 5px  rgba(0, 0, 0, 0.137);
    background-color: rgb(252,70,107,1);
    color: white;
}

.restart__btn:hover {
    transition: .2s;
    background-color: rgb(228, 64, 97);
    cursor: pointer;
}

.restart__btn:active {
    
  background-color: rgb(212, 66, 95);
  box-shadow: 5px 5px  rgba(0, 0, 0, 0.137);
  transform: translateY(4px);
  cursor: pointer;
}




.wrapper .figure__box svg > * {
    opacity: 0;
}

.wrapper .figure__box svg #ground             { opacity: 1; }
.wrapper .figure__box.scaffold svg #scaffold  { opacity: 1; }
.wrapper .figure__box.head     svg #head      { opacity: 1; }
.wrapper .figure__box.body     svg #body      { opacity: 1; }
.wrapper .figure__box.arms     svg #arms      { opacity: 1; }
.wrapper .figure__box.legs     svg #legs      { opacity: 1; }